header {
    height: 150px;
    background-color: rgb(106, 250, 202);
}


.menu-principal {
    font-size: 20px;
    float: right;
    padding-top: 20px;
}

.menu-principal>ul>li {
    display: inline-block;
    padding: 20px
}

.menu-principal>ul>li:hover {
    color: white;
}

main {
    height: 800px;
    background-color:azure;
    clear: both;

}

p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

footer {
    height: 130px;
    background-color: #7f7979
}

.menu-secundário>ul>li {
    display: block;
    padding-block: 8px;
}

.menu-secundário>ul>li:hover {
    background-color: #E29578
}