header {
    height: 120px;
    background-color: mediumaquamarine
}

.menu ul li {
    display:inline;
    float: right;
    position:relative;
    width: 100px;
    color: darkblue;
    font-size: 20px;
    padding-top: 15px;
    
}

.menu ul li:hover{
    color: white; 
}

.menu ul {
    padding:0px;
}

.menu ul ul{
    display: none;
}

.menu ul li:hover ul {
    display:block;
}

.menu ul ul ul {
    top:0px;
    position:absolute;
}

main {
    height: 600px;
    background-color:azure;
    clear: both;

}

p {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    height: 130px;
    background-color: #7f7979;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.menu-secundário>ul>li {
    display: block;
    padding-block: 8px;
}

.menu-secundário>ul>li:hover {
    background-color: #E29578
}