*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height:120px;
   
}

img {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 30px;
}
nav{
    background-color: #61D095;
    text-align: right;
    height: 120px;
}

nav ul{
    display: inline-flex;
    list-style: none;    
}

nav ul li{
width: 100px;
margin: 20px;
padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
}

.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color:#61D095;
    margin-top: 15px;
    margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul{
    display: block;
}

nav ul li:hover .sub-menu-1 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover{
    background-color: #2cc2e7cd;
}


main {
    background-color: #006D77;
    height: 600px;
}

#sobre {
    text-align: center;
    color: azure;
    display: block;
    padding-top: 20px;;
    
}

.info {
    font-size: 18px; 
    color: azure;
    padding: 30px 150px 0px 150px;
    display: block;
    
}

#saiba_mais {
    color: azure;
    padding: 40px 0 30px 150px;
}

.lista-artigos {
    display: inline-block;
    width: 350px;
    height: 250px;
    padding: 30px;
    text-align: justify;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    border: 1px solid #13e9ba;
    border-radius: 10px;
    background-color: #13e9ba;
    box-sizing:border-box;
    margin: 20px;
    margin-left: 150px;
}

footer{
    background-color: #61D095;
    color:  darkblue;
    padding: 20px 0;
    
}
.container-footer{
    max-width: 1400 px;
    padding: 0 2%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 30%;
    padding: 0 25px;
}

.footer-col ul {
    list-style: none;
    line-height: 1.6;
}
.footer-col a {
    color:  darkblue;
    text-decoration: none;
}