<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav= class="menu-principal">
            <ul>
                <li>Home</li>
                <li>Sobre</li>
                <li>Notícia</li>
                <li>Voluntário</li>
                <li>Instituição</li>
                <li>Doação</li>
            </ul>
            </nav>
    </header>
    Header
    <main></main>
    Conteúdo
    <Footer>
        <ul>
            <li>Fale Conosco</li>
            <li>Eventos</li>
            <li>Conheça o Time</li>
            <li>Blog</li>
        </ul>

    </Footer>
    Footer
</body>

</html>