header {
    height: 120px;
    background-color: darksalmon;
}

.menu-principal {
    float: right
}

.menu-principal>ul>li {
    display: inline-block;
    padding: 8px
}

.menu-principal>ul>li:hover {
    background-color: rgb(0, 136, 255);
}

main {
    height: 450px;
    background-color: aquamarine;
}

footer {
    height: 130px;
    background-color: grey;
}

.menu-secundário>ul>li {
    display: block;
    padding-block: 8px;
}

.menu-secundário>ul>li:hover {
    background-color: rgb(0, 136, 255);
}