* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    height: 120px;

}

img {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 30px;
}

nav{
    background-color: #61D095;
    text-align: right;
    height: 120px;
}

nav:hover{
    background-color: #75e0a7;
}

nav ul{
    display: inline-flex;
    list-style: none;    
}

nav ul li{
    width: 100%;
    margin: 20px;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
}

nav ul li a:hover{
    color: #0056b3;
}

.sub-menu-1{
    display: none;
    border-radius: 10px;
    justify-content: center;
    width: auto;
    height: auto;
}
nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color:#75e0a7;
    margin-top: 15px;
    margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul{
    display: block;
}

nav ul li:hover .sub-menu-1 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover{
    background-color:  #2cc2e7cd;
    transform: translate(-3%, -3%);
}

#login {
    width: 70px;
    height: 70px;
    float: right;
    margin: 0;
    margin-top: 16px;    
    }


main {
    background-color: #006D77;
    height: 900px;
    
}

#conheca {
    color: azure;
    display: block;
    padding: 30px 30px 10px 120px;

}

.info {
    width: 50%;
    line-height: 1.6;
    font-size: 18px;
    color: azure;
    display: inline-block;
    text-align: justify;
    padding: 60px 30px 20px 120px;
    margin-left: 130px;
}

.projeto{
    width: 50%;
    line-height: 1.6;
    font-size: 18px;
    color: azure;
    display: inline-block;
    text-align: justify;
    padding: 80px 30px 50px 120px;
    margin-top: 70px;
}

#ajuda{
    width: 280px;
    height: 280px;
    margin: 50px 200px 50px 60px;
    float: right;
    border-radius: 100px;
}

#musica{
    width: 280px;
    height: 280px;
    float: left;
    margin-top: 130px;
    border-radius: 100px;
    margin-left: 50px;
}

.lista-artigos:hover {
    font-size: 20px;
    color: darkblue;
}

footer {
    background-color: #61D095;
    color: darkblue;
    padding: 20px 0;

}

.container-footer {
    max-width: 1400 px;
    padding: 0 2%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 30%;
    padding: 0 25px;
}

.footer-col ul {
    list-style: none;
    line-height: 1.6;
}

.footer-col a {
    color: darkblue;
    text-decoration: none;
}

.footer-col h4 {
    color: darkblue;
    text-decoration: none;
}

.form-sub input {
    margin-top: 3px;
    border-radius: 5px;
    height: 25px;
    width: 220px;
}

.Inscrever {
    background-color: white;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    color: darkblue;
    margin-bottom: 5px;
    margin-top: 10px;
}

.Inscrever, select{
    cursor: pointer;
}
 
.Inscrever:hover{
    background: rgb(231, 220, 220);
}

#face, #insta, #youtube, #twitter {
    margin: 0;
    margin-right: 30px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    padding: 2px;
}