*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header{
    height:120px;
}

header nav img {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 30px;
}
nav{
    background-color: #61D095;
    text-align: right;
    height: 120px;
}

nav ul{
    display: inline-flex;
    list-style: none;    
}

nav ul li{
    width: 100%;
    margin: 20px;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
}

.sub-menu-1{
    display: none;
}
nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color:#61D095;
    margin-top: 15px;
    margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul{
    display: block;
}

nav ul li:hover .sub-menu-1 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover{
    background-color: #2cc2e7cd;
    transform: translate(-3%, -3%);
}

#login {
    width: 70px;
    height: 70px;
    float: right;
    margin: 0;
    margin-top: 16px;
}

main {
    width: 100%;
    background-color: #006d77;
}

main aside h2 {
    border-left: 20px;
    color: white;
    padding: 20px;
    font-size: 200%;
    margin-left: 60px;
    font-style: inherit;
    font-family: cursive;
}

main aside h3 {
    font-size: 150%;
    padding-top: 70px;
    color: azure;
    float: right  ;
    margin-right:150px;
    font-family: cursive;
    text-align: center;
    font-style: italic;
}

main aside video { 
   margin-left: 170px;
}

main h4 {
    margin: 30px;
    color: azure;
    font-family: cursive;
}

.cadastro-paciente{
    display: inline-block;
    width: 350px;
    height: 320px;
    background-color:#ffddd2;
    vertical-align: top;
    margin-top: 20PX;
    margin: 8px;
    border: 3px solid #777;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box; 
    text-align: center;
    font-size: 80%;
    font-style: italic;   
    margin-left: 110px;
    margin-bottom: 50px;
    border-radius: 60px;
}


.cadastro-paciente > img {
    width: 250px;
    height: 200px;
    padding: 8px;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 250px;
}

footer{
    clear: both;
    background-color: #61D095;
    padding: 20px 0;
    color: darkblue;
    
}
.container-footer{
    max-width: 1400 px;
    padding: 0 2%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 30%;
    padding: 0 25px;
}

.footer-col ul {
    list-style: none;
    line-height: 1.6;
}

.footer-col a {
    color: darkblue;
    text-decoration: none;
}

.form-sub input{
    margin-top: 3px;
    border-radius: 5px;
    height: 25px;
    width: 220px;
}

.Inscrever {
    background-color: white;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    color: darkblue;
    margin-bottom: 5px;
    margin-top: 10px;
}

.Inscrever, select{
    cursor: pointer;
}
 
.Inscrever:hover{
    background: rgb(231, 220, 220);
}

#face, #insta, #youtube, #twitter {
    margin: 0;
    margin-right: 30px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    padding: 2px;
}

@media (max-width: 600px) {

header {
    box-sizing: border-box;
    background-color: #61D095;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;    
     }
        
header img { 
    position: relative;
    background-color: #61D095;
    }
        
 nav ul li{
    position: relative;
    font-size: small;
    left: 0;
    width: 100%;
    border: 0;
    padding: 7px;
    margin: 0;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row;
    }
        
.sub-menu-1{
    font-size: xx-small;
    position: relative;
    bottom: -100PX;
    border: 5PX;
    }
    
#login {
    background-color:white;
    width: 40px;
    height:30px;
    margin: 15px;
    margin-top: 10px;
        
    }

main{
    width: 100%;
}
    
main aside {
    display: inline-block;
    justify-content: center;
    padding-top: 40px;
}

main aside h3 {
    font-size: 100%;
    padding-top: 30px;
    padding-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
        
    }
    
main aside video { 
    margin: 50px;
        }
    
.cadastro-paciente{
    margin: 50px;
}
    
footer {
    position: relative;
    flex-wrap: wrap;
    font-size: x-small;
    }
        
    .form-sub input{
    margin-top: 3px;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    font-size: x-small;
    }
        
    .Inscrever {
    background-color: white;
    font-size: 10px;
    border: 0;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    color: darkblue;
    margin-bottom: 5px;
    }

    .Inscrever, select{
    cursor: pointer;
    }
     
    .Inscrever:hover{
    background: rgb(231, 220, 220);
    }
}    
    
    
@media (max-width: 1300px) {
    

    
header img { 
    position: relative;
    background-color: #61D095;
    }

main {
     display: inline-block;
    }
    
.cadastro-paciente{
    display: inline-block;
    width: 350px;
    height: 320px;
    background-color:#ffddd2;
    vertical-align: top;
    margin-top: 20PX;
    border: 3px solid #777;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box; 
    text-align: center;
    font-size: 90%;
    font-style: italic;   
    margin-left: 50px;
    }
        
.cadastro-paciente > img {
    width: 250px;
    height: 200px;
    padding: 8px;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
footer {
    position: relative;
    flex-wrap: wrap;
    font-size: medium;
    }
            
.form-sub input{
    margin-top: 3px;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    font-size: small;
     }
            
.Inscrever {
    background-color: white;
    font-size: 10px;
    border: 0;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    color: darkblue;
    margin-bottom: 5px;
    }

.Inscrever, select{
    cursor: pointer;
}
     
.Inscrever:hover{
    background: rgb(231, 220, 220);
}
}
    
    
